# Core functionality - changes here should be rare!
/src/app.py                   @Mrittu
/src/backend/database.py      @Mrittu
/src/backend/routers/auth.py  @Mrittu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Mrittu
